<!-- <nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item" [ngClass]="{ disabled: currentPage === 0 }"><a (click)="currentPage = currentPage -1" class="page-link" href="#">Previous</a></li>
    <li *ngFor="let image of images; let i = index;" class="page-item" [ngClass]="{active: i === currentPage}">
      <a (click)="currentPage = i" class="page-link" href="#">{{i+1}}</a>
    </li>
    <li class="page-item"><a (click)="inc()" class="page-link" href="#">Next</a></li>
  </ul>
</nav>

<div>
  <h4>{{images[currentPage].title}}</h4>
  <img style="width: 300px; height: 400px;" [src]="images[currentPage].url" />
</div> -->
<app-elements-home></app-elements-home>